In [1]:
#Importamos las librerias necesarias
import os  
import pandas as pd
import numpy as np
import json
import unicodedata
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
#Cargamos los datos desde los archivos
cards_data = pd.read_csv('cards_data.csv')
transactions_data = pd.read_csv('transactions_data.csv')
users_data = pd.read_csv('users_data.csv')
#mcc_codes = pd.read_csv('mcc_codes.json')
#train_fraud_labels =  pd.read_csv('train_fraud_labels.json')

In [3]:
#Pasamos los archivos json a un formato de dataframe

# 1. Abrir el archivo JSON
with open("mcc_codes.json", "r", encoding="utf-8") as f:
    mcc_dict = json.load(f)

# 2. Convertir el diccionario a una lista de tuplas y luego a DataFrame
rows = []
for code_str, desc in mcc_dict.items():
    # Si prefieres que el código mcc sea entero, puedes hacer: int(code_str)
    rows.append({
        "mcc": int(code_str),               # convierte "5812" → 5812
        "mcc_description": desc             # por ejemplo, "Eating Places and Restaurants"
    })

mcc_codes_df = pd.DataFrame(rows)

# 3. (Opcional) Ordenar por código
mcc_codes_df = mcc_codes_df.sort_values("mcc").reset_index(drop=True)

# 4. Ver resultado
print(mcc_codes_df.shape)
print(mcc_codes_df.head(10))

(109, 2)
    mcc                                  mcc_description
0  1711  Heating, Plumbing, Air Conditioning Contractors
1  3000                                       Steelworks
2  3001                     Steel Products Manufacturing
3  3005                  Miscellaneous Metal Fabrication
4  3006          Miscellaneous Fabricated Metal Products
5  3007                    Coated and Laminated Products
6  3008                          Steel Drums and Barrels
7  3009             Fabricated Structural Metal Products
8  3058             Tools, Parts, Supplies Manufacturing
9  3066                             Miscellaneous Metals

In [4]:
import json
import pandas as pd

# 1. Abrir el JSON
with open("train_fraud_labels.json", "r", encoding="utf-8") as f:
    labels_dict = json.load(f)


# 2. Extraer el diccionario interno que está bajo la clave "target"
inner = labels_dict["target"]

# 3. Convertir ese sub-diccionario a lista de filas
rows = []
for id_str, label_str in inner.items():
    rows.append({
        "id": int(id_str),               # convierte "10649266" → 10649266
        "is_fraud": 1 if label_str.lower() == "yes" else 0
    })

fraud_labels_df = pd.DataFrame(rows)

# 4. (Opcional) Ordenar por 'id'
fraud_labels_df = fraud_labels_df.sort_values("id").reset_index(drop=True)

# 5. Ver resultado
print(fraud_labels_df.shape)
print(fraud_labels_df.head(10))

(8914963, 2)
        id  is_fraud
0  7475327         0
1  7475328         0
2  7475329         0
3  7475332         0
4  7475333         0
5  7475335         0
6  7475338         0
7  7475339         0
8  7475340         0
9  7475341         0

In [5]:
#Inspección inicial de los datos cards_data
print("Dimensiones iniciales de 'transactions':", cards_data.shape)
print(cards_data.dtypes)
print(cards_data.head(10))

Dimensiones iniciales de 'transactions': (6146, 13)
id                        int64
client_id                 int64
card_brand               object
card_type                object
card_number               int64
expires                  object
cvv                       int64
has_chip                 object
num_cards_issued          int64
credit_limit             object
acct_open_date           object
year_pin_last_changed     int64
card_on_dark_web         object
dtype: object
     id  client_id  card_brand        card_type       card_number  expires  \
0  4524        825        Visa            Debit  4344676511950444  12/2022
1  2731        825        Visa            Debit  4956965974959986  12/2020
2  3701        825        Visa            Debit  4582313478255491  02/2024
3    42        825        Visa           Credit  4879494103069057  08/2024
4  4659        825  Mastercard  Debit (Prepaid)  5722874738736011  03/2009
5  4537       1746        Visa           Credit  4404898874682993  09/2003
6  1278       1746        Visa            Debit  4001482973848631  07/2022
7  3687       1746  Mastercard            Debit  5627220683410948  06/2022
8  3465       1746  Mastercard  Debit (Prepaid)  5711382187309326  11/2020
9  3754       1746  Mastercard  Debit (Prepaid)  5766121508358701  02/2023

   cvv has_chip  num_cards_issued credit_limit acct_open_date  \
0  623      YES                 2       $24295        09/2002
1  393      YES                 2       $21968        04/2014
2  719      YES                 2       $46414        07/2003
3  693       NO                 1       $12400        01/2003
4   75      YES                 1          $28        09/2008
5  736      YES                 1       $27500        09/2003
6  972      YES                 2       $28508        02/2011
7   48      YES                 2        $9022        07/2003
8  722      YES                 2          $54        06/2010
9  908      YES                 1          $99        07/2006

   year_pin_last_changed card_on_dark_web
0                   2008               No
1                   2014               No
2                   2004               No
3                   2012               No
4                   2009               No
5                   2012               No
6                   2011               No
7                   2015               No
8                   2015               No
9                   2012               No

In [6]:
#Inspección inicial de los datos transactions_data
print("Dimensiones iniciales de 'transactions':", transactions_data.shape)
print(transactions_data.dtypes)
print(transactions_data.head(10))

Dimensiones iniciales de 'transactions': (13305915, 12)
id                  int64
date               object
client_id           int64
card_id             int64
amount             object
use_chip           object
merchant_id         int64
merchant_city      object
merchant_state     object
zip               float64
mcc                 int64
errors             object
dtype: object
        id                 date  client_id  card_id   amount  \
0  7475327  2010-01-01 00:01:00       1556     2972  $-77.00
1  7475328  2010-01-01 00:02:00        561     4575   $14.57
2  7475329  2010-01-01 00:02:00       1129      102   $80.00
3  7475331  2010-01-01 00:05:00        430     2860  $200.00
4  7475332  2010-01-01 00:06:00        848     3915   $46.41
5  7475333  2010-01-01 00:07:00       1807      165    $4.81
6  7475334  2010-01-01 00:09:00       1556     2972   $77.00
7  7475335  2010-01-01 00:14:00       1684     2140   $26.46
8  7475336  2010-01-01 00:21:00        335     5131  $261.58
9  7475337  2010-01-01 00:21:00        351     1112   $10.74

             use_chip  merchant_id merchant_city merchant_state      zip  \
0   Swipe Transaction        59935        Beulah             ND  58523.0
1   Swipe Transaction        67570    Bettendorf             IA  52722.0
2   Swipe Transaction        27092         Vista             CA  92084.0
3   Swipe Transaction        27092   Crown Point             IN  46307.0
4   Swipe Transaction        13051       Harwood             MD  20776.0
5   Swipe Transaction        20519         Bronx             NY  10464.0
6   Swipe Transaction        59935        Beulah             ND  58523.0
7  Online Transaction        39021        ONLINE            NaN      NaN
8  Online Transaction        50292        ONLINE            NaN      NaN
9   Swipe Transaction         3864      Flushing             NY  11355.0

    mcc errors
0  5499    NaN
1  5311    NaN
2  4829    NaN
3  4829    NaN
4  5813    NaN
5  5942    NaN
6  5499    NaN
7  4784    NaN
8  7801    NaN
9  5813    NaN

In [7]:
#Inspección inicial de los datos cards_data
print("Dimensiones iniciales de 'transactions':", users_data.shape)
print(users_data.dtypes)
print(users_data.head(10))

Dimensiones iniciales de 'transactions': (2000, 14)
id                     int64
current_age            int64
retirement_age         int64
birth_year             int64
birth_month            int64
gender                object
address               object
latitude             float64
longitude            float64
per_capita_income     object
yearly_income         object
total_debt            object
credit_score           int64
num_credit_cards       int64
dtype: object
     id  current_age  retirement_age  birth_year  birth_month  gender  \
0   825           53              66        1966           11  Female
1  1746           53              68        1966           12  Female
2  1718           81              67        1938           11  Female
3   708           63              63        1957            1  Female
4  1164           43              70        1976            9    Male
5    68           42              70        1977           10    Male
6  1075           36              67        1983           12  Female
7  1711           26              67        1993           12    Male
8  1116           81              66        1938            7  Female
9  1752           34              60        1986            1  Female

                    address  latitude  longitude per_capita_income  \
0             462 Rose Lane     34.15    -117.76            $29278
1    3606 Federal Boulevard     40.76     -73.74            $37891
2           766 Third Drive     34.02    -117.89            $22681
3          3 Madison Street     40.71     -73.99           $163145
4  9620 Valley Stream Drive     37.76    -122.44            $53797
5             58 Birch Lane     41.55     -90.60            $20599
6         5695 Fifth Street     38.22     -85.74            $25258
7         1941 Ninth Street     45.51    -122.64            $26790
8          11 Spruce Avenue     40.32     -75.32            $26273
9          887 Grant Street     29.97     -92.12            $18730

  yearly_income total_debt  credit_score  num_credit_cards
0        $59696    $127613           787                 5
1        $77254    $191349           701                 5
2        $33483       $196           698                 5
3       $249925    $202328           722                 4
4       $109687    $183855           675                 1
5        $41997         $0           704                 3
6        $51500    $102286           672                 3
7        $54623    $114711           728                 1
8        $42509      $2895           755                 5
9        $38190     $81262           810                 1